.site-footer {
  background-color: #407b33;
  color: white;
  padding: 15px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #adb5bd;
  text-decoration: none;
}