.book-card {
  height: 100%;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.tema-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.tema-link:hover {
  text-decoration: underline;
}